body{
    background:url("https://wallpaperaccess.com/full/866805.jpg") ;
background-position: center;
background-size: cover;
}
input{
    margin: 20px;
}
#ans{
    background-color: dimgray;
    color:black;
    font-size:30px;
}
h3{
    font-family: 'Bangers', cursive;
    font-size: 50px;
    letter-spacing:1px;
}